venv/
__pycache__/
*.pyc
*.pyo
config.ini
Download/
*.log
.DS_Store
*.bak
guiCerto.py
guiMulti.py
gui_v2.py
gui1.py
guiWin.py
music_playerOriginal.py
music_playerWin.py
playlist_windowOriginal.py
ffmpeg/
